.radio {
    width: 20px;
    height: 20px;
}

.radio::before {

}


.radio:checked::before {
}

.label {
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
    gap: 15px;
    margin-left: 35%;
    padding: 10px;
}

.options {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

}
