.button {
    width: 132px;
    height: 30px;
    left: 574px;
    top: 1465px;
    border: none;
    transition: all 0.3s ;
}

.disabled {
    font-family:  inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #004D99;
    opacity: 0.5;
    border-radius: 7px;
}

.secondary {
    border: 1px solid white;
    width: 167px;
    height: 30px;
    font-family:  inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #3c5998;
    border-radius: 7px;
    margin-bottom: 15px;
}

.default {
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #0066CC;
    border-radius: 7px;
    color: white;
}

.red {
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: #ea4335;
    border-radius: 7px;
    color: white;
}

.default:hover {
    background: #3c5998;
    width: 167px;
    height: 30px;
    border-color:#3c5998;
    box-shadow:0px 0px 50px #3c5998;
    color:white;
}

.red:hover {
    background-color: #ea4335;
    width: 167px;
    height: 30px;
    border-color:#ea4335;
    box-shadow:0px 0px 50px #ea4335;
    color:white;

}

.secondary:hover {
    background: #E5F0FA;
    width: 167px;
    height: 30px;
    border-color:#03A9F4;
    box-shadow:0px 0px 50px #03A9F4;
    color:#03A9F4;
}


.default:active {
    background: #0066CC;
}

.secondary:active {
    background: #C9E5FF;
    width: 149px;
    height: 30px;
}

.red:active {
    background-color: #B21232;
}

.button:disabled {
}
